@{
    ViewBag.Title = "Social Media";
    ViewBag.Page_Nav = "departments";
    ViewBag.Page_Area = "marketing_area";
    ViewBag.Page_ID = "social_media_pge";
    ViewBag.Page_Layout = "columns_3";
}

<div class="page-holder">
  @Html.Raw(Model.Text)
</div>