@model SCG.Models.Page

@{
    ViewBag.Title = "Printers";
    ViewBag.Page_Nav = "departments";
    ViewBag.Page_Area = "it_area";
    ViewBag.Page_ID = "printers_pge";
    ViewBag.Page_Layout = "columns_3";
}

<div class="it-page-holder" style="text-align: center;">
  @Html.Raw(Model.Text)
</div>