@model SCG.Models.Page

@{
    ViewBag.Title = "Program Locations";
    ViewBag.Page_Nav = "departments";
    ViewBag.Page_Area = "it_area";
    ViewBag.Page_ID = "program_locations_pge";
    ViewBag.Page_Layout = "columns_3";
}

<div class="it-page-holder">
  @Html.Raw(Model.Text)
</div>