@{
    ViewBag.Title = "Growth";
    ViewBag.Page_Nav = "onefirm";
    ViewBag.Page_Area = "growth_area";
    ViewBag.Page_ID = "";
    ViewBag.Page_Layout = "columns_3";
}

<div class="page-holder">
  @Html.Raw(Model.Text)
</div>

