
@{
  ViewBag.Title = "Vision Statement";
  ViewBag.Page_Nav = "onefirm";
  ViewBag.Page_Area = "vision_statement_area";
  ViewBag.Page_ID = "";
  ViewBag.Page_Layout = "columns_3";
}

<div class="page-holder">
  <h1>Vision Statement</h1>

  <p>This following Vision Statement and 5-Year Vision Statement documents are the framework around which we are building the strategies to achieve our ultimate and overriding vision to exist as a High Performance Firm. Please read them and read them again:</p>

  <p><a href="../assets/Onefirm/Vision Statement/Firm_Vision_Statement.pdf" target="_blank">Letter from Shareholders regarding Vision Statement</a></p>

  <p><a href="../assets/Onefirm/Vision Statement/5Year_Vision_Statement.pdf" target="_blank">5-Year Vision Statement</a></p>
</div>

