@{
    ViewBag.Title = "Audit Overview";
    ViewBag.Page_Nav = "departments";
    ViewBag.Page_Area = "audit_area";
    ViewBag.Page_ID = "audit_index_pge";
    ViewBag.Page_Layout = "columns_3";
}

<div class="page-holder">
  @Html.Raw(Model.Text)
</div>