@{
    ViewBag.Title = "Informative Links";
    ViewBag.Page_Nav = "departments";
    ViewBag.Page_Area = "hr_area";
    ViewBag.Page_ID = "informative_links_pge";
    ViewBag.Page_Layout = "columns_3";
}

<div class="page-holder">
  @Html.Raw(Model.Text)
</div>

