@{
    ViewBag.Title = "CPE Opportunities";
    ViewBag.Page_Nav = "departments";
    ViewBag.Page_Area = "tax_area";
    ViewBag.Page_ID = "cpe_opportunities_pge";
    ViewBag.Page_Layout = "columns_3";
}

<div class="page-holder">
  @Html.Raw(Model.Text)
</div>